html{
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.entete{
    width: 375px;
    height: 60px;
    background: #051F2F;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1499;
    margin: 0;
}
.entete>a>img{
    position: fixed;
    z-index: 1500;
    top: -5px;
    left: 10px;
}

body {
    font-family: Calibri, serif;
    color: #051F2F;
    font-size: 16px;
    font-weight: 300;
    margin: 0 30px 0 30px;
    text-align: left;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.forme{
    display: block;
    position: absolute;
    margin-left: -15px;
    margin-right: auto;
    top: 430px;
    z-index: -1;
}
.arrow{
    display: block;
    position: absolute;
    top: 520px;
    margin-left: 180px;
}

.img-accueil{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
p.description{
    font-family: Calibri, serif;
    color: #051F2F;
    font-style: italic;
    text-align: right;
    line-height: 20px;
    margin-top: 5px;
    margin-right: 0;
}
p.description-probleme{
    font-family: Calibri, serif;
    color: #FFFFFF;
    font-style: italic;
    text-align: right;
    line-height: 20px;
    margin-top: 5px;
    margin-right: 10px;
}

h3{
    font-family: Lobster, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 500px;
}

div.chapo{
    font-style: italic;
}
.intro-article{
    text-decoration: underline #051F2F;
}
.article-scientifique{
    font-style: italic;
    }

.bouton-suivant>p>a{
    font-family: Lobster, sans-serif;
    color: #051F2F;
    background-color: #DEA2C1;
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 180px;
}
strong{
    font-weight: bold;
}

footer{
    font-family: Calibri, sans-serif;
    color: #FFFFFF;
    display: flex;
    width: 375px;
    height: 150px;
    background: #051F2F;
    position: relative;
    left: 0;
    bottom: 0;
    margin-left: -30px;
}
.textes{
    color: white;
}
.explication-projet{
    text-align: center;
    margin: 5px;
    line-height: 22px;
}
a.departement{
    font-family: Calibri, sans-serif;
    color: #FFFFFF;
    text-decoration: underline white;
}
.contact, .étudiant{
    text-align: left;
    margin-left: 10px;
}
.contact>p>a{
    font-family: Calibri, sans-serif;
    color: #FFFFFF;
    margin-top: -17px;
    text-decoration: underline white;
}
.étudiant{
    margin-top: -18px;
}
.logos{
    color: black;
}
.logos>ul{
    display: flex;
    text-align: right;
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: -90px;
}
.logos>ul>li{
    list-style: none;
    margin: 10px 7px 5px 5px;
    font-size: 20px;
}
.logos>ul>li.insta{
    margin-top: 37px;
}
.logos>ul>li.youtube{
    margin-top: 32px;
}
.logos>ul>li.mmi{
    margin-top: 29px;
}